html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}


/*Font styling for whole body*/
body {
  font-family: "Helvetica Neue";
  text-align: center;
}

/*Formatting for Contact Info*/

.CIContainer {
    margin: auto;
    width:48.8rem;
    height: 6.6 rem;
}
.CI {
    color:white;
    width:48.8rem;
    height: 7.75rem;
    background-color:#00003C;
    padding: 2rem 0;
    margin:.8rem 0;
    font-size:1.5rem;
}

.Email {
    font-size:1.25rem;
}

/*Formatting for DevResults section of Cover Letter*/
.DR {
    font-family: "Helvetica Neue";
    font-size: .75rem;
    color: #00003C;
    text-align: center;
    width: 48.8rem;
    margin: auto;
    overflow: scroll; 
}

.DRBody {
    Padding: 5%;
    margin:.8rem;
    background-color:#92AAFF;
    margin: auto;
}



.CLContainer {
    clear: none;
    margin:auto;
    height: 100rem;
    width: 48.8rem;
    vertical-align: middle;
    font-size: .75rem;
    color: white;
    clear: none;
    z-index: 2;
}


/* Seasoned Data Storyteller section */


/* SDS Title, aligned left*/
.SDSTitle {
    height: 13rem;
    width: 20rem;
    Padding: 8rem 2rem 0 2rem;
    display:inline;
    float: right;
    background-color: #00003C;
    margin: 0 0 0 .4rem;
    overflow: scroll; 
    clear: none;
    font-size: 1.5rem;
}

/* SDS Body, aligned right*/
.SDSBody {
    height: 17rem;
    width:20rem;
    padding: 3rem 2rem 1rem 2rem;
    display:inline;
    float: right;
    background-color: #00003C;
    margin: 0 .4rem 0 0;
    overflow: scroll;  
}

/* Passionate Educator section */

/* PE Body, aligned right */
.PEBody {
  height: 15.75rem;
    width: 20rem;
    padding:5.25rem 2rem 0 2rem;
    display:inline;
    float: right;
    background-color: #070F6E;
    margin: .8rem 0 0 .4rem;
    overflow: scroll; 
    clear: none;
}

/* PE Title, aligned left */
.PETitle {
 height: 13rem;
    width: 20rem;
    Padding: 8rem 2rem 0 2rem;
    display:inline;
    float: left;
    background-color: #070F6E;
    margin: .8rem .4rem 0 0;
    overflow: scroll; 
    clear: none;
    font-size: 1.5rem;
}

/* Any Team's Secret Weapon section */


/* ATSW Title, aligned right */
.ATSWTitle {
 height: 13rem;
    width: 20rem;
    Padding: 8rem 2rem 0 2rem;
    display:inline;
    float: right;
    background-color: #1932B4;
    margin: .8rem 0 0 .4rem;
    overflow: scroll; 
    clear: none;  
    font-size: 1.5rem;
}

/* ATSW Body, aligned left*/
.ATSWBody {
    height: 16.25rem;
    width:20rem;
    padding: 2.75rem 2rem 2rem 2rem;
    display:inline;
    float: left;
    background-color: #1932B4;
    margin: .8rem .4rem 0 0;
    overflow: scroll; 
}


/* List of Skills section */


/* LoS Body, aligned right */
.LoSBody {
    height: 15rem;
    width: 20rem;
    padding:5rem 2rem 1rem 2rem;
    display:inline;
    float: right;
    background-color: #345FE8;
    margin: .8rem 0 .8rem .4rem;
    overflow: scroll; 
    clear: none; 
}
    
/* LoS Title, aligned left*/
.LoSTitle {
    height: 13rem;
    width: 20rem;
    Padding: 8rem 2rem 0 2rem;
    display:inline;
    float: left;
    background-color: #345FE8;
    margin: .8rem .4rem .8rem 0;
    overflow: scroll; 
    font-size: 1.5rem;
}

/*RMFR section container> includes button AND RESUME*/
.WRS {
    height: 65rem;
}

/*RMfR Button */
.RMfR {
    height: 5rem;
    width: 48.8rem;
    margin: auto;
    clear: both;
    z-index:1;
}

.RMfRTitle {
    background-color: #00003C;
    height: 3rem;
    padding: 1rem 1rem;
    margin: auto;
    color: white;
    clear:both;
    font-size: 1rem;
    z-index:1;
}

/*Actual Resume*/
.ResumeContainer {
  font-family: "Helvetica Neue";
  font-size: .75rem;
  text-align: left; 
  height: 50rem;
  width: 48.8rem;
  background-color:#92AAFF;
  margin: auto;
  clear: both;
  color: #00003C;
  z-index:1;
}

.Resume {
    height: 50rem;
    padding: 2rem;
    margin: auto;
    margin: .8rem .8rem;
    clear: both; 
    z-index: 1;
}

/*Spacing between Training Exp. and Research Exp. sections of resume*/
.ResExp {
    padding:.8rem 0 0 0;
}
